<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Search</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Days+One:wght@400&display=swap" />
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="main-container">
    <div class="navigation">
        <span class="university-search">University Matching System</span>
        <div class="divider"></div>
    </div>
    <div class="header">
        <div class="search">
            <button type="submit" class="icon-button">
                <div class="vector"></div>
            </button>
            <input type="text" class="search-input" placeholder="Enter the requirements of the university that AI wants..." />
        </div>
        <div class="flex-row-dc">
            <div class="filters">
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="./assets/images/desired_country_icon.png" class="dropdown-icon" alt="Country Icon" />
                        Country: <span id="country">None</span>
                        <div class="caret"></div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#" onclick="selectOption('country', 'China')">China</a>
                        <a href="#" onclick="selectOption('country', 'Japan')">Japan</a>
                        <a href="#" onclick="selectOption('country', 'Taiwan')">Taiwan</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="./assets/images/desired_period_icon.png" class="dropdown-icon" alt="Period Icon" />
                        Period: <span id="period">None</span>
                        <div class="caret"></div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#" onclick="selectOption('period', '1 Semester')">1 Semester</a>
                        <a href="#" onclick="selectOption('period', '1 Year')">1 Year</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="./assets/images/dormitory_icon.png" class="dropdown-icon" alt="Dormitory Icon" />
                        Dormitory: <span id="dormitory">None</span>
                        <div class="caret"></div>
                    </button>
                    <div class="dropdown-content">
                        <a href="#" onclick="selectOption('dormitory', 'Yes')">Yes</a>
                        <a href="#" onclick="selectOption('dormitory', 'No')">No</a>
                    </div>
                </div>
            </div>
            <span class="sort">Sort</span>
            <div class="label-c">
                <span class="recommended">Recommended</span>
                <div class="caret-d"><div class="vector-e"></div></div>
            </div>
        </div>
    </div>
    <div class="classes">
        <span class="university-search-results">University search results</span>
        <div class="container">
            <div class="row">
                <div class="university-class">
                    <a href="beijing-university.html" class="non-text-decoration">
                        <div class="bookmark"><div class="vector-f"></div></div>
                        <div class="university-image" style="background-image: url('./assets/images/2128c81c-92a7-401e-aab3-f5c3701b8361.png');">
                            <span class="matching-score">Matching Score: 85%</span>
                        </div>
                    </a>
                </div>
                <div class="university-class">
                    <a href="tokyo-university.html" class="non-text-decoration">
                        <div class="bookmark"><div class="vector-f"></div></div>
                        <div class="university-image" style="background-image: url('./assets/images/8f16f49d-7d9f-4eb2-b310-e9cb1159f78c.png');">
                            <span class="matching-score">Matching Score: 70%</span>
                        </div>
                    </a>
                </div>
                <div class="university-class">
                    <a href="kyung-hee-university.html" class="non-text-decoration">
                        <div class="bookmark"><div class="vector-f"></div></div>
                        <div class="university-image" style="background-image: url('./assets/images/facdf2cf-6c3e-4b22-b582-b7b76c6c8ea1.png');">
                            <span class="matching-score">Matching Score: 70%</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="university-class">
                    <a href="seoul-university.html" class="non-text-decoration">
                        <div class="bookmark"><div class="vector-f"></div></div>
                        <div class="university-image" style="background-image: url('./assets/images/812518d1-6915-42bb-bae8-6e201fe2e650.png');">
                            <span class="matching-score">Matching Score: 65%</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
<script src="/js/index.js"></script>
</body>
</html>